#gameWorld {
  
    border: 2px solid black;
    margin: 0 auto; /* center the canvas on the page */
    display: block; /* display the canvas as a block element */

}

#Title { /* use flexbox layout to center the text above the canvas element */
    display: flex;
    flex-direction: column;
    align-items: center;
}
